streamlit
streamlit-option-menu

paddleocr
paddlepaddle

opencv-python-headless
Pillow
pytesseract

PyMuPDF
python-docx
PyPDF2

spacy
language-tool-python
textblob

requests
aiohttp
httpx

numpy
pandas
scipy

cachetools
redis

python-dotenv
pydantic
loguru

pyyaml
json5
toml

transformers
translation-engine
ctranslate2==3.24.0
